# Exploring Coincidences with a Cross-Verified database of Notable people

***Student:*** Lais Isabelle ALVES DOS SANTOS

## Libraries

In [1]:
import pandas as pd

## Data loading and pre-processing

In [27]:
db = pd.read_csv('../database/cross-verified-database.csv', 
                 encoding='latin-1',
                 delimiter=',',
                 usecols=['name', 'birth', 'death', 'level1_main_occ', 'gender', 'bplo1', 'dplo1', 'bpla1', 'dpla1']
                 )

In [33]:
# Replace some names to clarify the use of the dataset
db.rename(columns={"level1_main_occ": "domain", "bplo1": "birth_longitude", "dplo1": "death_longitude", "bpla1": "birth_latitude", "dpla1": "death_latitude"}, inplace=True)

# Leave only notable people from 'Discovery/Science'
db = db[db.domain == 'Discovery/Science']

In [17]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [34]:
# Show some data
db.head()

,birth,death,gender,domain,name,birth_longitude,death_longitude,birth_latitude,death_latitude
6,1818.0,1894.0,Male,Discovery/Science,Joseph_Dienger,7.667770,8.400000,47.957283,49.016666
7,1907.0,1980.0,Female,Discovery/Science,Sylvia_Bayr-Klimpfinger,16.372499,16.372499,48.208332,48.208332
9,1891.0,1962.0,Male,Discovery/Science,Franz_Zimmermann_(Philologe),13.835800,12.375000,51.194901,51.340000
17,1935.0,2009.0,Male,Discovery/Science,Otto_Arndt_Liebisch,12.375000,9.866694,51.340000,52.499973
28,1929.0,2003.0,Male,Discovery/Science,Hans_ElsÃ¤sser,10.093611,8.710000,48.837223,49.412224

## Compute Unexpectedness

### Description complexity

In [ ]:
# Place of birth feature

### Causal complexity